/*start reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/


ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  text-align: center;
  font-weight: bold;
  background: rgba(194,186,197,1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-size: 60px;
  margin-bottom: 50px;
}

h2 {
  margin: 30px;
  font-size: 20px;
}

ul {
  margin: auto;
  width: 390px;
  border: 5px solid #1e2131;
  border-radius: 5px;
}

li {
  float: left;
  width: 120px;
  height: 120px;
  border: 5px solid #1e2131;
  background: #576274;
  cursor: pointer;
}

li:hover {
  background: #7c67f5;
}

.x,
.o {
  background: white;
  cursor: default;
}

.x:hover,
.o:hover {
  background: white;
}

.x:after,
.o:after {
  display: block;
  width: 100%;
  font-size: 80px;
  line-height: 110px;
}

.x:after {
  content: "x";
}

.o:after {
  content: "o";
}

.game-over li {
  color: red;
  cursor: default;
  background: white;
}

.winner-x .x,
.winner-o .o {
  background: #88ff82;
  color: white;
}

figcaption {
  font-size: 30px;
}
